@font-face {
  font-family: "Norse Bold";
  src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf");
}

body {
  font-family: Georgia, serif;
  display: flex;
  margin: 0;
}

#image-and-logo {
  background-image: url("./images/background-image.jpg");
  background-size: cover;
  color: white;
  height: 100vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-and-links {
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231);
}

.logo {
  background: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 170px;
}

.logo p {
  font-family: "Norse Bold", Georgia, serif;
  font-size: 100px;
  margin: 0;
}

img {
  height: 150px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 40vw;
  text-align: center;
}

footer p {
  font-weight: lighter;
}

.welcome-message,
.welcome-message2 {
  width: 75%;
  padding-left: 20px;
}

.welcome-message {
  margin-top: 9em;
}

.forms {
  background-color: white;
  padding: 20px 0;
  border: 5px solid white;
  box-shadow: 8px 9px 5px 0px rgba(191,189,191,1);
  width: 60vw;
  border: 0;
}

.forms > h3 {
  padding-left: 20px;
}

form {
  position: relative;
  left: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

fieldset {
  border: 0;
  display: flex;
  gap: 4em;
  padding: 0 0 15px 0;
}

input {
  max-width: 14em;
  height: 1.25rem;
  border-style: solid;
  border-color: #E5E7EB;
  border-radius: 3px;
}

input:focus {
  border: 2px blue solid;
  box-shadow: 0 2px 4px 0 black;
}

.pw:invalid,
.pwc:invalid {
  border: 2px red solid;
}


button {
  background-color: #596D48;
  margin-top: 2em;
  max-width: 12em;
  min-height: 3.5rem;
  font-size: 18px;
  color: white;
  font-weight: 400;
  border-radius: 10px;
  margin-left: 20px;
}
